#nav {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  height: 20vw;
  width: 20vw;
}

#gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
}
